In [179]:
import pandas as pd
import string

#### Before using this jupyter notebook
1. using excel to choose only three column Word, BE_TWord and AoALikert.
2. using excel to filter out the data with AoALikert lager than 3
3. using BBedit (or any text editor) to substitude special charactor with correct form or umlaut (äöüß)

In [180]:
# Reading the csv file
df = pd.read_csv('list_aoa_equal_less_3.csv',encoding= 'latin-1') # encoding utf8 does not work
df

            Word   BE_TWord  AoALikert
0           Mama        mum       1.19
1           Papa        dad       1.21
2           Bett        bed       1.25
3           Kind      child       1.31
4     Schokolade  chocolate       1.40
...          ...        ...        ...
1107     Verkehr    traffic       3.00
1108   verletzen     injure       3.00
1109     Warnung    warning       3.00
1110     wundern  be amazed       3.00
1111      Zauber      spell       3.00

[1112 rows x 3 columns]

In [181]:
# Thanks to German noun starts with capital letter, we can filter the noun with the following method.
# Like the following example, it helps us to get all the words start with "A".
df[df.Word.str.startswith('A')]

           Word       BE_TWord  AoALikert
14          Arm            arm       1.50
25         Auge            eye       1.58
53        Apfel          apple       1.64
77         Auto           car        1.69
104     Antwort         answer       1.74
119        Affe         monkey       1.78
156       Abend        evening       1.84
210        Arzt         doctor       1.92
331       Ampel  traffic light       2.10
358       Alter            age       2.14
487       Amsel      blackbird       2.32
514      Abfall        rubbish       2.35
537    Abendrot     red sunset       2.37
608    Abschied       farewell       2.47
610      Anfang      beginning       2.47
634      Ameise            ant       2.50
635   Aufkleber        sticker       2.50
636      August         August       2.50
637     Ausflug         outing       2.50
675       Angel    fishing rod       2.53
692    Arbeiter         worker       2.54
704      Arbeit           work       2.56
731     Achtung      attention       2.59
754       Anruf     phone call       2.61
781       April          April       2.64
802      Angler         angler       2.67
803       Anker         anchor       2.67
929     Aufgabe       exercise       2.83
950     Adresse        address       2.85
953       Adler          eagle       2.86
983       Asche            ash       2.89
1017   Alphabet       alphabet       2.94

In [182]:
# Create a list of capital letter, including umlauts.
cap_letter = []

for l in string.ascii_uppercase:    
    cap_letter.append(l)

for l in ['Ö','Ä','Ü']:
    cap_letter.append(l)

print(cap_letter)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'Ö', 'Ä', 'Ü']

In [183]:
# Create the list of noun
nouns_temp = pd.DataFrame()

for l in cap_letter:
    appended_data = df[df.Word.str.startswith(l)]
    data_temp = pd.concat([nouns_temp,appended_data],ignore_index=True)
    nouns_temp = data_temp

nouns_temp  
# nouns_temp.to_csv('noun_temp.csv',header=True,index=False,encoding="latin-1")

               Word   BE_TWord  AoALikert
0               Arm        arm       1.50
1              Auge        eye       1.58
2             Apfel      apple       1.64
3              Auto       car        1.69
4           Antwort     answer       1.74
..              ...        ...        ...
777        Zauberei    sorcery       2.89
778  Zeitungspapier  newsprint       2.93
779          Zauber      spell       3.00
780           Ärger  annoyance       2.17
781    Überraschung   surprise       2.26

[782 rows x 3 columns]

#### Using BBedit to convert the file to utf-8 encoding
##### still problem exists: for Ärger and Überraschung, I change it mannually

In [ ]:
nouns = pd.read_csv('noun_utf8.csv',encoding= 'utf-8')

# Using Series.values.tolist()
noun_list =  nouns.Word.values.tolist()
print(noun_list)

#### For DWDS frequency query

In [185]:
import urllib.request as rq
import ssl
import json

In [186]:
req = rq.Request(
    url='https://www.dwds.de/api/frequency/?q=haus', 
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
)

In [187]:
gcontext = ssl.SSLContext() 
info = rq.urlopen(req, context=gcontext).read()

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3693179351.py:1: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3693179351.py:1: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

In [188]:
# from urllib.parse import quote

# dwds_page = 'https://www.dwds.de/api/frequency/?q=' + quote('Bär')

# req = rq.Request(
#     url= dwds_page, 
#     headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
# )
# info = rq.urlopen(req, context=gcontext).read()

In [189]:
# info_dict = json.loads(info)
# print(info_dict["hits"])

505184

In [190]:
# freq_dict = {}
# for query_word in noun_list:
#     req = rq.Request(
#     url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
#     headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
#     )
#     gcontext = ssl.SSLContext()
#     info = rq.urlopen(req, context=gcontext).read()
#     info_dict = json.loads(info)
#     freq_dict[query_word] = info_dict["hits"]

# print(freq_dict)

#### Manually selecting excel data (AoA <=3) and change the name so that it is easier to do the following steps

In [196]:
import xlrd,xlwt # for reading excel file
old_list = pd.read_excel('old.xls')
old_list

          Word          BE_TWord  AoALikert
0         Bett               bed       1.25
1        Katze               cat       1.35
2        Tisch             table       1.35
3         Hund               dog       1.40
4        Fisch              fish       1.50
..         ...               ...        ...
185      Couch             couch       3.00
186    Fußball          football       3.00
187     Reiten  horseback riding       3.00
188  Fleischer           butcher       3.00
189    Kapitän           captain       3.00

[190 rows x 3 columns]

In [199]:
new_list = nouns 
all_noun = pd.concat([old_list,new_list])
# all_noun.to_csv('all_noun.csv',header=True,index=False,encoding="utf-8")
# all_noun.to_excel('all_noun.xls',header=True,index=False, encoding="utf-8")

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/261210281.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  all_noun.to_excel('all_noun.xls',header=True,index=False, encoding="utf-8")

In [205]:
a = all_noun.groupby('Word')['AoALikert'].mean()
noun_aoa = a.to_frame()
noun_aoa
# noun_aoa.to_csv('noun_aoa.csv',header=True,index=True,encoding="utf-8")

              AoALikert
Word
Abend              1.84
Abendrot           2.37
Abfall             2.35
Abschied           2.47
Achtung            2.59
...                 ...
Zunge              1.96
Zwieback           1.90
Zwiebel            2.40
Ärger              2.17
Überraschung       2.26

[860 rows x 1 columns]

In [211]:
nouns = pd.read_csv('noun_aoa.csv',encoding= 'utf-8')
noun_list =  nouns.Word.values.tolist()
noun_list_1 = noun_list[:200]
noun_list_2 = noun_list[200:400]
noun_list_3 = noun_list[400:600]
noun_list_4 = noun_list[600:800]
noun_list_5 = noun_list[800:]
# print(noun_list)

In [212]:
from urllib.parse import quote
freq_dict = {}
for query_word in noun_list_1:
    req = rq.Request(
    url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
    )
    gcontext = ssl.SSLContext()
    info = rq.urlopen(req, context=gcontext).read()
    info_dict = json.loads(info)
    freq_dict[query_word] = info_dict["hits"]

print(freq_dict)

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3419102094.py:8: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3419102094.py:8: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

{'Abend': 5936390, 'Abendrot': 22952, 'Abfall': 356325, 'Abschied': 826726, 'Achtung': 479064, 'Adler': 480056, 'Adresse': 1576099, 'Affe': 221915, 'Alphabet': 72164, 'Alter': 3587653, 'Ameise': 76097, 'Ampel': 364271, 'Amsel': 39111, 'Anfang': 6064589, 'Angel': 306689, 'Angeln': 1568, 'Angler': 109597, 'Anker': 164502, 'Anorak': 15586, 'Anruf': 653456, 'Antwort': 4654310, 'Apfel': 503886, 'April': 7085689, 'Arbeit': 11993618, 'Arbeiter': 1070737, 'Arm': 755096, 'Arzt': 3865070, 'Asche': 200337, 'Aufgabe': 5004184, 'Aufkleber': 126321, 'Auge': 4640483, 'August': 7159269, 'Ausflug': 912700, 'Auto': 5702895, 'Baby': 922791, 'Bach': 1158703, 'Backe': 167293, 'Bad': 9102521, 'Badeanzug': 32786, 'Bagger': 206919, 'Balkon': 500225, 'Ball': 2581444, 'Ballon': 133607, 'Banane': 183676, 'Band': 3973194, 'Bank': 4675506, 'Bauarbeiter': 171904, 'Bauch': 507270, 'Bauchweh': 13353, 'Bauer': 1845569, 'Baum': 2594570, 'Becher': 210645, 'Beginn': 4668501, 'Bein': 1588869, 'Beispiel': 8531987, 'Besen': 79757, 'Besteck': 61692, 'Besuch': 3267875, 'Beton': 238246, 'Bett': 1314254, 'Bettchen': 19934, 'Bettler': 58893, 'Beule': 37093, 'Beutel': 173765, 'Bewegung': 2089517, 'Biber': 103502, 'Biene': 274767, 'Bild': 11621453, 'Birne': 137818, 'Blaubeere': 21029, 'Blick': 5699046, 'Blindekuh': 1459, 'Blitz': 242133, 'Block': 567814, 'Blume': 855714, 'Blumenkohl': 34003, 'Bluse': 156985, 'Blüte': 504289, 'Boden': 2821155, 'Bogen': 447087, 'Bohne': 166519, 'Bohrer': 51510, 'Bonbon': 84824, 'Boot': 968645, 'Brei': 71578, 'Brezel': 52041, 'Brief': 1722130, 'Brille': 410466, 'Brombeere': 28706, 'Brot': 757877, 'Bruder': 2084113, 'Brunnen': 485582, 'Brücke': 1447966, 'Buch': 7391132, 'Buche': 402227, 'Buchladen': 63622, 'Burg': 1042594, 'Bus': 2336170, 'Butter': 456823, 'Bäcker': 241508, 'Bär': 505184, 'Büro': 1699223, 'Bürste': 73494, 'Clown': 217980, 'Couch': 172111, 'Cowboy': 115277, 'Creme': 280256, 'Dach': 1491828, 'Dackel': 40302, 'Dame': 2242329, 'Dank': 2427174, 'Daumen': 415006, 'Decke': 580135, 'Deckel': 252653, 'Dezember': 6528230, 'Dieb': 460681, 'Dienstag': 6412507, 'Ding': 4053756, 'Doktor': 6976732, 'Donner': 72825, 'Donnerstag': 7076493, 'Dose': 327203, 'Drache': 96972, 'Dreck': 215760, 'Dreirad': 22079, 'Dschungel': 165960, 'Duft': 543362, 'Durst': 112002, 'Dusche': 374404, 'Ehering': 29335, 'Ei': 976314, 'Eiche': 163064, 'Eichhörnchen': 62932, 'Eidechse': 23779, 'Eigelb': 61733, 'Eimer': 142431, 'Einfahrt': 148744, 'Einfall': 109012, 'Eis': 926490, 'Eisbär': 273754, 'Eisenbahn': 205986, 'Elefant': 246347, 'Ellenbogen': 53042, 'Ende': 15322213, 'Engel': 755100, 'Enkel': 427693, 'Ente': 211089, 'Erbse': 60911, 'Erdbeere': 180440, 'Erde': 1795927, 'Erlebnis': 1075824, 'Ernte': 350580, 'Esel': 140423, 'Essenszeit': 7573, 'Esstisch': 248, 'Eule': 96486, 'Euter': 12181, 'Faden': 430984, 'Fahne': 473021, 'Fahrer': 2148450, 'Fahrrad': 1019251, 'Fahrt': 2073259, 'Falle': 1179749, 'Familie': 8382003, 'Fantasie': 353950, 'Farbe': 3322720, 'Faust': 493881, 'Feder': 371658, 'Fee': 113370, 'Fehler': 2578702, 'Feier': 770164, 'Feigling': 30992, 'Feld': 1957916, 'Fenster': 1661802, 'Ferien': 677219, 'Fernrohr': 25434, 'Fernsehen': 1532093, 'Ferse': 104189, 'Feuer': 1417783, 'Feuerwehrmann': 209184, 'Fibel': 11717, 'Fieber': 181255, 'Figur': 1666165, 'Film': 6357833, 'Filzstift': 17790, 'Finger': 899857, 'Fisch': 995024, 'Fischer': 2032337, 'Fischstäbchen': 11158, 'Flamme': 559695, 'Flasche': 772104, 'Fleisch': 849066, 'Fleischer': 120113, 'Fliegen': 7125, 'Flieger': 210053, 'Flughafen': 1671108, 'Flugzeug': 998635, 'Fluss': 31885, 'Flöte': 148985, 'Fohlen': 52993}

In [213]:
for query_word in noun_list_2:
    req = rq.Request(
    url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
    )
    gcontext = ssl.SSLContext()
    info = rq.urlopen(req, context=gcontext).read()
    info_dict = json.loads(info)
    freq_dict[query_word] = info_dict["hits"]

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3895799712.py:6: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3895799712.py:6: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

In [214]:
for query_word in noun_list_3:
    req = rq.Request(
    url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
    )
    gcontext = ssl.SSLContext()
    info = rq.urlopen(req, context=gcontext).read()
    info_dict = json.loads(info)
    freq_dict[query_word] = info_dict["hits"]

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/2991155822.py:6: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/2991155822.py:6: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

In [215]:
for query_word in noun_list_4:
    req = rq.Request(
    url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
    )
    gcontext = ssl.SSLContext()
    info = rq.urlopen(req, context=gcontext).read()
    info_dict = json.loads(info)
    freq_dict[query_word] = info_dict["hits"]

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3427623347.py:6: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3427623347.py:6: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

In [216]:
for query_word in noun_list_5:
    req = rq.Request(
    url= 'https://www.dwds.de/api/frequency/?q=' + quote(query_word),
    headers={'User-Agent': 'Mozilla/5.0', 'X-Mashape-Key': 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'}
    )
    gcontext = ssl.SSLContext()
    info = rq.urlopen(req, context=gcontext).read()
    info_dict = json.loads(info)
    freq_dict[query_word] = info_dict["hits"]

/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3056398361.py:6: DeprecationWarning: ssl.SSLContext() without protocol argument is deprecated.
  gcontext = ssl.SSLContext()
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3056398361.py:6: DeprecationWarning: ssl.PROTOCOL_TLS is deprecated
  gcontext = ssl.SSLContext()

In [ ]:
freq_dict

In [226]:
noun_aoa = pd.read_csv('noun_aoa.csv',encoding='utf8')
noun_aoa

             Word  AoALikert
0           Abend       1.84
1        Abendrot       2.37
2          Abfall       2.35
3        Abschied       2.47
4         Achtung       2.59
..            ...        ...
855         Zunge       1.96
856      Zwieback       1.90
857       Zwiebel       2.40
858         Ärger       2.17
859  Überraschung       2.26

[860 rows x 2 columns]

In [227]:
noun_aoa['Frequency'] = noun_aoa['Word'].map(freq_dict)
noun_aoa

             Word  AoALikert  Frequency
0           Abend       1.84    5936390
1        Abendrot       2.37      22952
2          Abfall       2.35     356325
3        Abschied       2.47     826726
4         Achtung       2.59     479064
..            ...        ...        ...
855         Zunge       1.96     254250
856      Zwieback       1.90      10706
857       Zwiebel       2.40     315603
858         Ärger       2.17     650529
859  Überraschung       2.26    1269522

[860 rows x 3 columns]

In [230]:
# Normalize frequency

def normalize(df,feature_name):
    result = df.copy()
    
    max_value = df[feature_name].max()
    min_value = df[feature_name].min()
    result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [233]:
final_noun_aoa = normalize(noun_aoa,'Frequency')
final_noun_aoa
# final_noun_aoa.to_csv("noun_aoa_freq.csv",header = True, index = False, encoding = "utf8")
final_noun_aoa.to_excel("noun_aoa_freq.xls",header = True, index = False, encoding = "utf8")

/opt/homebrew/lib/python3.10/site-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)
/var/folders/s9/0x22p1q50sqdfptc_gy_ng7w0000gn/T/ipykernel_17125/3593178901.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  final_noun_aoa.to_excel("noun_aoa_freq.xls",header = True, index = False, encoding = "utf8")